#footer {
  background: 0;
}
#page-header {
  background-color: transparent;
}
[data-theme="light"] body {
  background: #0d0d0d;
}
[data-theme="dark"] #footer:before {
  background-color: transparent;
}
